name: Ultimate Sliver Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          repository: BishopFox/sliver
          fetch-depth: 1

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build Android Server
        run: |
          go mod download
          export CGO_ENABLED=1
          export GOOS=android
          export GOARCH=arm
          export GOARM=7
          export CC=$ANDROID_NDK_ROOT/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi21-clang
          
          # الحل السحري: تقليل العمليات المتوازية لأدنى حد وإضافة خيارات ضغط الذاكرة
          go build -v -p 1 -trimpath -ldflags "-s -w -X github.com/bishopfox/sliver/util/build.IsProduction=true" -o sliver-server-clean ./server

      - name: Upload Clean Binary
        uses: actions/upload-artifact@v4
        with:
          name: CLEAN-SERVER
          path: sliver-server-clean
