name: Cloud Build Sliver
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          repository: BishopFox/sliver
          fetch-depth: 1

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build Pure Android Server
        run: |
          go mod download
          # بناء السيرفر بدون الحاجة لـ CGO (أكثر استقراراً وأماناً)
          export CGO_ENABLED=0
          export GOOS=android
          export GOARCH=arm
          export GOARM=7
          go build -v -trimpath -ldflags "-s -w" -o sliver-server-realme ./server

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: REAL-SERVER
          path: sliver-server-realme
