name: FINAL_VICTORY_ARM64
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Official Sliver
        uses: actions/checkout@v4
        with:
          repository: 'bishopfox/sliver'
          ref: 'master'

      - name: Setup Go 1.22
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - name: The Master Fix & Stealth Prep
        run: |
          # إصلاح أمر البحث والحقن ليتجنب خطأ الـ Syntax
          find . -name "version.go" -exec sed -i '$ a \
          func setupLog() {}\
          func GetTrafficEncoderDir() string { return "" }' {} \;

      - name: Heavyweight Stealth Compilation
        run: |
          go mod download
          GOOS=linux GOARCH=arm64 go build -v -ldflags "-s -w" -o sliver-weapon-arm64

      - name: Upload Finished Weapon
        uses: actions/upload-artifact@v4
        with:
          name: sliver-weapon-arm64
          path: ./sliver-weapon-arm64
