name: FINAL_VICTORY_ARM64
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Official Sliver
        uses: actions/checkout@v4
        with:
          repository: 'bishopfox/sliver'
          ref: 'master'

      - name: Setup Go 1.22
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - name: Heavyweight Stealth Compilation
        run: |
          go mod tidy
          # استخدام الـ Linker Flags لتغيير النسخة برمجياً دون تعديل الملفات
          GOOS=linux GOARCH=arm64 go build -v -ldflags "-s -w -X 'github.com/bishopfox/sliver/util/version.FullVersion=FINAL_VICTORY_V1'" -o sliver-weapon-arm64 ./sliver-server

      - name: Upload Finished Weapon
        uses: actions/upload-artifact@v4
        with:
          name: sliver-weapon-arm64
          path: ./sliver-weapon-arm64
