name: Sliver_ARM64_Full_Server
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sliver Source
        uses: actions/checkout@v4
        with:
          repository: BishopFox/sliver
          fetch-depth: 1
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: Full Build for ARMv8
        env:
          CGO_ENABLED: 0
          GOOS: linux
          GOARCH: arm64
        run: |
          go mod download
          # بناء السيرفر الحقيقي من مجلد server
          go build -v -trimpath -ldflags "-s -w" -o sliver-server-arm64 ./server
      - uses: actions/upload-artifact@v4
        with:
          name: sliver-real-tool
          path: sliver-server-arm64
