name: FINAL_VICTORY_ARM64
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Official Sliver
        uses: actions/checkout@v4
        with:
          repository: 'bishopfox/sliver'
          ref: 'master'

      - name: Setup Go 1.22
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - name: The Master Fix & Stealth Prep
        run: |
          # حقن الدوال في ملف version.go لأنه ملف ثابت ومضمون
          TARGET_FILE="version/version.go"
          echo -e "\nfunc setupLog() {}\nfunc GetTrafficEncoderDir() string { return \"\" }" >> "$TARGET_FILE"
          go mod download

      - name: Heavyweight Stealth Compilation
        run: |
          # بناء السيرفر كهدف رئيسي
          go build -v -ldflags "-s -w" -o sliver-weapon .
          
      - name: Upload Finished Weapon
        uses: actions/upload-artifact@v4
        with:
          name: sliver-weapon
          path: ./sliver-weapon
