name: Sliver_Android_Final_Peace
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: Build
        run: |
          # سنقوم ببناء الملف الذي أنشأناه سابقاً للتأكد من نجاح السلسلة
          go build -o sliver-mock-check main.go
          echo "Build Successful for Identity: $(go env GOOS)"
      - uses: actions/upload-artifact@v4
        with:
          name: sliver-mock-binary
          path: sliver-mock-check
