name: Ultimate Sliver Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          repository: BishopFox/sliver
          fetch-depth: 1

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler libpcap-dev
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest

      - name: Build Android Server
        run: |
          go mod download
          export CGO_ENABLED=1
          export GOOS=android
          export GOARCH=arm
          export GOARM=7
          export CC=$ANDROID_NDK_LATEST_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi21-clang
          
          go build -v -trimpath -ldflags "-s -w -extldflags=-static" -o sliver-server-clean ./server

      - name: Upload Clean Binary
        uses: actions/upload-artifact@v4
        with:
          name: CLEAN-SERVER
          path: sliver-server-clean
