name: FINAL_VICTORY_ARM64
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Official Sliver
        uses: actions/checkout@v4
        with:
          repository: 'bishopfox/sliver'
          ref: 'master'

      - name: Setup Go 1.22
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - name: Victory Compilation
        run: |
          go mod download
          # السر هنا: استخدام -tags noassets لتجاوز ملفات الـ UI المفقودة
          # وتحديد المسار إلى مجلد السيرفر مباشرة
          GOOS=linux GOARCH=arm64 go build -v -tags noassets -ldflags "-s -w" -o sliver-server-arm64 ./sliver-server
          
      - name: Upload Finished Weapon
        uses: actions/upload-artifact@v4
        with:
          name: sliver-weapon-arm64
          path: ./sliver-server-arm64
