name: Sliver_ARM64_Release
on: [push]
jobs:
  build_arm64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: Build for ARMv8
        env:
          CGO_ENABLED: 0
          GOOS: linux
          GOARCH: arm64
        run: |
          go build -v -trimpath -ldflags "-s -w" -o sliver-arm64 main.go
          echo "ARMv8 Binary Created Successfully"
      - uses: actions/upload-artifact@v4
        with:
          name: sliver-arm64-tool
          path: sliver-arm64
