name: Professional Sliver Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          repository: BishopFox/sliver
          fetch-depth: 1

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Build Android Binary
        run: |
          go mod download
          # بناء السيرفر باستخدام إعدادات متوافقة مع الهواتف القديمة والجديدة
          GOOS=android GOARCH=arm go build -v -trimpath -ldflags "-s -w" -o sliver-server-realme ./server

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: REAL-SERVER
          path: sliver-server-realme
