name: Sliver_Android_Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: BishopFox/sliver
          fetch-depth: 1
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: Build
        env:
          CGO_ENABLED: 1
          GOOS: android
          GOARCH: arm64
        run: |
          NDK_PATH=$(ls -d $ANDROID_SDK_ROOT/ndk/* | tail -1)
          export TOOLCHAIN=$NDK_PATH/toolchains/llvm/prebuilt/linux-x86_64
          export CC=$TOOLCHAIN/bin/aarch64-linux-android29-clang
          
          # تقليل عدد العمليات المتوازية لتجنب الـ Crash
          export GOMAXPROCS=2
          
          go mod download
          
          # بناء السيرفر مع تعطيل الـ PIE مؤقتاً لضمان التوافق
          go build -v -trimpath \
            -ldflags "-s -w -extldflags '-static'" \
            -o sliver-server-android ./server
      - uses: actions/upload-artifact@v4
        with:
          name: sliver-binary
          path: sliver-server-android
