name: Cloud Build Sliver
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          repository: BishopFox/sliver
          fetch-depth: 1

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build Android Server
        run: |
          go mod download
          export CGO_ENABLED=1
          export GOOS=android
          export GOARCH=arm
          export GOARM=7
          export CC=$ANDROID_NDK_LATEST_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi21-clang
          
          go build -v -p 2 -trimpath -ldflags "-s -w -extldflags=-static" -o sliver-server-realme ./server

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: REAL-SERVER
          path: sliver-server-realme
