name: Sliver_Android_Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: BishopFox/sliver
          fetch-depth: 1
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: Build
        env:
          CGO_ENABLED: 1
          GOOS: android
          GOARCH: arm64
        run: |
          NDK_PATH=$(ls -d $ANDROID_SDK_ROOT/ndk/* | tail -1)
          export TOOLCHAIN=$NDK_PATH/toolchains/llvm/prebuilt/linux-x86_64
          export CC=$TOOLCHAIN/bin/aarch64-linux-android29-clang
          
          # توجيه المترجم لمكتبات الأندرويد الأساسية بشكل مباشر
          export CGO_LDFLAGS="-Wl,-s -Wl,--allow-shlib-undefined"
          
          go mod download
          
          # البناء مع تعطيل الميزات التي تسبب تعارضات في الـ Binary النهائي
          go build -v -trimpath \
            -tags "netgo osusergo static_build no_sqlite_build" \
            -ldflags "-s -w -extldflags '-static'" \
            -o sliver-server-android ./server
      - uses: actions/upload-artifact@v4
        with:
          name: sliver-binary
          path: sliver-server-android
