name: Ultimate Sliver Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: BishopFox/sliver
          fetch-depth: 1

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Install Android NDK
        run: |
          sudo apt-get update
          sudo apt-get install -y freeglut3-dev
          echo "ANDROID_NDK_HOME=$ANDROID_SDK_ROOT/ndk-bundle" >> $GITHUB_ENV

      - name: Build Static Android Server
        env:
          CGO_ENABLED: 1
          GOOS: android
          GOARCH: arm64
        run: |
          # نستخدم clang الخاص بـ Android المدمج في خوادم GitHub
          export CC=$ANDROID_SDK_ROOT/ndk/25.2.9519653/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android29-clang
          go mod download
          go build -v -trimpath \
          -tags "netgo osusergo static_build" \
          -ldflags "-s -w -extldflags '-static'" \
          -o sliver-server-clean ./server

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: sliver-server-android
          path: sliver-server-clean
