name: Ultimate Sliver Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - name: Build Static Android Server
        env:
          CGO_ENABLED: 1
          GOOS: android
          GOARCH: arm64
          CC: aarch64-linux-android29-clang
        run: |
          go build -v -trimpath \
          -tags "netgo osusergo static_build" \
          -ldflags "-s -w -extldflags '-static'" \
          -o sliver-server-clean ./server
